# IDE related ignores
.buildpath
.settings/
.project
*.launch
.idea

# Enviroment related ignores
.DS_Store
Thumbs.db
*~
.undevelize.json

# Log files
*.log


# Project related ignores
composer.lock
/vendor/
/tests/config/
/var/
